#info { 
    margin-left: 10px;
}
.container {
    width: 100%;
}

table {
    width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #01B636;
  border-style: solid;
  color: #000000;
}
th, tr, td {
    border: 1px black solid;
    height: 42px;
}